.nav-list {
  display: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-list li {
  display: inline-block;
  height: inherit;
  margin-left: 20px;
}

.nav-list li:first-child {
  display: inline-block;
  margin-left: 0;
}

.nav-list a {
  text-transform: uppercase;
  display: inline-block;
  height: inherit;
  padding: 0px 0px;
  text-decoration: none;
  color: #eee;
  transition: color 250ms ease-in-out;
}

.nav-list a:before {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  position: relative;
  top: 0;
  background-color: #fff;
  transition: all 250ms ease-in-out 50ms;
}

.nav-list a:after {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  position: relative;
  top: 0;
  left: 100%;
  background-color: #fff;
  transition: all 250ms ease-in-out 50ms;
}

.nav-list a:hover:before {
  width: 60%;
}

.nav-list a:hover:after {
  left: 40%;
  width: 60%
}

.nav-list a:hover {
  color: #e357ca;
}

.nav-list .activeLink {
  color: #e357ca;
}

.nav-list .activeLink:before {
  content: '';
  display: block;
  width: 80%;
  height: 1px;
  position: relative;
  top: 0;
  background-color: #fff;
  transition: all 250ms ease-in-out;
}

.nav-list .activeLink:after {
  content: '';
  display: block;
  width: 80%;
  height: 1px;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #fff;
  transition: all 250ms ease-in-out;
}

